<h3> Listing matches </h3>

<%= for match <- @matches do %>
    <%= if @user.id != match.id do%>
        <ul>
            <b> <%= match.username %></b> 
            <li> <%= match.bio %> </li>
            <li> Interested in <%= match.interests %> </li>
        </ul>
    <% end %>
<% end %>
